<!-- <div class="d-flex justify-content-center align-items-center gap-4">
  <app-project></app-project>
  <app-profile></app-profile>
</div> -->
<div>
  <div class="container text-center">
  <h1>{{channel.title}}</h1>
  <p>{{channel.subtitle}}</p>
  <!-- First Way -->
  <!-- <img src="{{logoSrc}}" alt="" width="250" height="220"> -->
   <!-- Second Way -->
    <img [src]=channel.logoSrc alt="" width="250" height="220">
  <hr>
  <button class="btn btn-danger" [disabled]="shouldDisable" (click)="onSubscribeClick(channel, $event)">{{isSubcribed ? 'Unsubscribe' : 'Subscribe'}}</button>
</div>
<app-feedback></app-feedback>
</div>