<!-- <div class="d-flex justify-content-center align-items-center gap-4">
  <app-project></app-project>
  <app-profile></app-profile>
</div> -->
<div>
  <div class="container text-center">
  <h1>{{channel.title}}</h1>
  <p>{{channel.subtitle}}</p>
  <!-- First Way -->
  <!-- <img src="{{logoSrc}}" alt="" width="250" height="220"> -->
   <!-- Second Way -->
    <img [src]=channel.logoSrc alt="" width="250" height="220">
  <hr>
  
   <!-- Cara 1 -->
   <!-- <ng-template [ngIf]="!yourChannel">
      <button class="btn btn-danger" [disabled]="shouldDisable" (click)="onSubscribeClick(channel, $event)">{{isSubcribed ? 'Unsubscribe' : 'Subscribe'}}</button>
   </ng-template> -->
   
     <!-- Cara 2 -->
  <!-- <button *ngIf="!yourChannel else desc" class="btn btn-danger" [disabled]="shouldDisable" (click)="onSubscribeClick(channel, $event)">{{isSubcribed ? 'Unsubscribe' : 'Subscribe'}}</button>
  <ng-template #desc>
    <span class="fw-bold fs-4">This is your channel</span>
  </ng-template> -->

  <!-- Cara 3 -->
  <div *ngIf="!yourChannel then btn else desc"></div>
  <ng-template #btn>
           <button class="btn btn-danger" [disabled]="shouldDisable" (click)="onSubscribeClick(channel, $event)">{{isSubcribed ? 'Unsubscribe' : 'Subscribe'}}</button>
  </ng-template>
  <ng-template #desc>
    <span class="fw-bold fs-4">This is your channel</span>
  </ng-template>
</div>
<!-- <app-feedback></app-feedback> -->
 <app-carousal></app-carousal>
 <app-videos></app-videos>
</div>